<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-white">&copy; @DateTime.Now.Year - @ViewData["BlogTitle"]</p>
    </div>
    <!-- /.container -->
</footer>