@{
    ViewBag.PageTitle = "404 Not Found";
}

<div class="row">
    <div class="col-md-12">
        <div class="m-5 mx-auto text-center">
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
            <p>Sorry, an error has occured, Requested page not found!</p>
            <div>
                <a href="/" class="btn btn-primary btn-lg">Take Me Home</a>
                <a href="mailto:yusufsezer@mail.com" class="btn btn-light btn-lg">Contact Support </a>
            </div>
        </div>
    </div>
</div>